*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    background-color: #DDD4D4;
     
}
/*1ere partie*/
nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
    
}
nav ul {
    display: flex;
    flex: 10 2 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 55rem;

}
#logo {
    flex: 1 1 40rem;
    font-size: 35px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #F66E22;
    font-family: "Jim Nightshade";
    
}
h1 {
    font-size: 2,6rem;
}
nav a {
    color: black;
    text-decoration: none;

}
header
{
    padding: 0px;
    margin: 0px;
background-color: white;
color: white;
height: 110px;
}
form{
    display: flex; 
    padding-left: 8px;
    height: 0.8cm;
   
}
input{
    height: 0.8cm;
    width: 6cm;
    text-align: center;
    font-size: medium;
    justify-content: 1332px -5;
    border: 2px solid #DDD4D4;
}
.partie-recherche{
position: relative;
bottom: 70px;
left: 30%;
display: flex;

height: 80px;
width: 800px;
}
.partie-recherche button{
    height: 60px;
    width: 100px;
    background: #F66E22;
    color: white;
}
input{
    height: 60px;
    width: 80%;
    border-radius: 7px;
    color: black;
}

/*fond */
.fond-image{
  position: relative;
  top: 100px;
    height:300px ;
    width: 80%;
    background: #d2d0cf;
}


/*image*/
img{
    position: relative;
    height: 230px;
    width: 250px;
    bottom: 150px;
}

.nom{
    position: relative;
    width: 10%;
    font-size: 22px;
    bottom: 360px;
    left: 350px;
}
.livraison{
    position: relative;
    width: 5%;
    font-size: 12px;
    bottom: 250px;
    left: 400px;
    color: #F66E22;
}
.prix{
    position: relative;
    width: 15%;
    font-size: 32px;
    bottom: 420px;
    left: 1000px; 
}
.ajouter{
    position: relative;
    width: 15%;
    font-size: 32px;
    bottom: 420px;
    left: 1000px; 

}
.ajouter1{
    position: absolute;
    width: 20%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #F66E22;
    color: white;
    background: #F66E22;
    top: 50px;
    text-decoration: none;
}
.ajouter2{
    position: absolute;
    width: 20%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #F66E22;
    color: white;
    background: #F66E22;
    top: 50px;
    left: 150px;
    text-decoration: none;
}
.nombre{
    position: absolute;
    width: 20%;
    text-align: center;
    font-size: 25px;
    top: 55px;
    left: 75px;
 
}
.supprimer{
    position: absolute;
    width: 50%;
    text-align: center;
    font-size: 25px;
   
    color: #F66E22;
    top: 170px;
    left: 33px;
    text-decoration: none;
}
/*fond commender */
.fond-commender{
    position: relative;
    bottom: 90px;
    left: 650px;
      height:300px ;
      width: 100%;
      background: #d2d0cf;
  }

  .total{
    position: absolute;
    border: 3px solid;
    text-align: center;
    height: 40px;
    width: 215px;
    bottom: 300px;
    text-decoration: none;
    font-size: 20px;
    left: 700px;
    color: black;
  }
  .div-whatsapp{
    position: absolute;
    width: 245px;
    bottom: 130px;
    font-size: 20px;
    left: 700px;
    height: 40px;
    background: #F66E22;
    border-radius: 20px;
   
  }
  .whatsapp{
    position: relative;
    color: white;
    text-decoration: none;
    top: 5px;
    left: 15px;
   
  
  }

  .nom-des-produits{
    font-family: 'Jim Nightshade';
    }
    
     .Bagues{
        position: relative;
        height: 200px;
     }
    .image5{
        position: relative;
        display: flex;
        text-align: center;
        height: 400px;
        width: 100%;
        font-size: 25px;
        background: white;
        bottom: 300px; 
    }
    
    .img5{
        position: relative;
        height: 70%;
        width: 90%;  
        top: 8px;
    }
    
    .img5-div{
      width: 22%;
    }
    
    h3{
        text-decoration: line-through;
        color: #938683;
        font-size: 23px;
    }
    
    h4{
    color: #F66E22;
    margin-top: 20px;
    }
   .Autres{
        position: relative;
        bottom: 300px;
        font-size: 30px;
    }


    /*section Avant footer*/

.barre-email{
    position: relative;
background: black;
height: 170px;
font-size: 30px;

}
.phrase-email{
    position: relative;
    left: 150px;
    width: 1000px;
    top: 19px;
    font-size: 35px;
    color: white;
    font-family: 'IBM Plex Sans';
}
.input{
    border: 1px solid red; 
 position:  relative;
 display: flex;
 object-position: center;
 border: 1px solid;
 width: 1500px;
 left: 150px;
 top: 40px;
}
input{
    height: 60px;
    width: 80%;
    border-radius: 7px;
    color: black;
}
.contour-logo3{
    height: 30px;
    width: 110px;
    left: -20px;
   top: 10px;
    background: white;
    position: relative;
    color: white;
    border-radius: 8px 3px 8px 3px;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F66E22; 
    font-family: "Jim Nightshade";
}
button{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    top: 2px;
    left: 10px;
}
/* FOOTER*/
.footer{
    position: relative;
    border: 1px solid;
    display: flex;
    width: 100%;
    height: 500px;
    font-size: 20px;
   background: #EDA982;
   
}
.ul-footer{
 margin-left: 13%;
 text-decoration: none;
 list-style: none;
}
.div-elements1{
    position: relative;
    display: inline-block;

}
.div-elements2{
    position: relative;
    display: inline-block;
    left: 150px;
  
}
.div-elements3{
    position: relative;
    display: inline-block;
    left: 300px;
    top: 68px;
      
}
.div-elements4{
    position: relative;
    display: flex;
    left: 1300px;
    bottom: 13%;
    border: 1px solid;
    width: 300px;
   
}
.div-elements5{
    position: relative;
    display: inline-block;
    top: 130px;
    
}
footer a {
  text-decoration: none;
  color: white;
}
.div-elements4 i{
   color: white;  
}
.p{
    font-size: 20px;
}   